bak/
*.bat
*.undo
*.obj
*.pdb
*.ilk
*.exp
notes.txt
ModernUI/Bak/*.*
ModernUI/Help/*.*
ModernUI/Images/*.*
./ModernUI/Bak/*.*
./ModernUI/Help/*.*
./ModernUI/Images/*.*
icons/
downloads/
design/
releases/
wiki/
_archive/
