#define IDD_DIALOG 1000
#define IDC_TEXTRSHEADER 1001
#define IDC_CAPTIONBAR 1019
#define IDC_SMARTPANEL 1018
IDD_DIALOG DIALOGEX 5,4,264,304
FONT 10,"Segoe UI",400,0
CLASS "DLGCLASS"
STYLE 0x06000800
EXSTYLE 0x00000000
BEGIN
  CONTROL "Community Edition 2018",IDC_TEXTRSHEADER,"ModernUI_Text",0x52000035,8,30,246,14,0x00000000
  CONTROL "Radasm Studio Installer",IDC_CAPTIONBAR,"ModernUI_CaptionBar",0x52000484,0,0,262,23,0x00000000
  CONTROL "",IDC_SMARTPANEL,"ModernUI_SmartPanel",0x52000022,1,46,261,256,0x00000000
END
