#define IDD_Panel4 2800
#define IDC_BTNFINISH 2802
#define IDC_TEXTFINISHED 2801
IDD_Panel4 DIALOGEX 0,0,228,230
FONT 11,"Segoe UI",400,0
STYLE 0x40000400
EXSTYLE 0x00000000
BEGIN
  CONTROL "Finish",IDC_BTNFINISH,"ModernUI_Button",0x52000034,175,200,45,11,0x00000000
  CONTROL "Installation of Radasm Studio is now completed.",IDC_TEXTFINISHED,"ModernUI_Text",0x52000032,7,8,189,32,0x00000000
END
