#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "TSOptions.xml"
100						ICON      DISCARDABLE "Images/ts.ico"
201						ICON      DISCARDABLE "Images/32x32/Application.ico"
202						ICON      DISCARDABLE "Images/32x32/myTeamSpeak.ico"
203						ICON      DISCARDABLE "Images/32x32/playback.ico"
204						ICON      DISCARDABLE "Images/32x32/capture.ico"
205						ICON      DISCARDABLE "Images/32x32/design.ico"
206						ICON      DISCARDABLE "Images/32x32/addon.ico"
207						ICON      DISCARDABLE "Images/32x32/hotkeys.ico"
208						ICON      DISCARDABLE "Images/32x32/whisper.ico"
209						ICON      DISCARDABLE "Images/32x32/download.ico"
210						ICON      DISCARDABLE "Images/32x32/chat.ico"
211						ICON      DISCARDABLE "Images/32x32/security.ico"
212						ICON      DISCARDABLE "Images/32x32/messages.ico"
213						ICON      DISCARDABLE "Images/32x32/notifications.ico"
