#define IDD_DIALOG 1000
#define IDC_BLACKFRAME 1001
IDD_DIALOG DIALOGEX 6,6,384,335
CAPTION "Teamspeak Options"
FONT 8,"Segoe UI",400,0
CLASS "DLGCLASS"
STYLE 0x12C80800
EXSTYLE 0x00000000
BEGIN
  CONTROL "",IDC_BLACKFRAME,"Static",0x50000007,5,5,109,316,0x00000000
END
