#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "MUICaptionBar1.xml"
100						ICON      DISCARDABLE "ModernUI.ico"
101						ICON      DISCARDABLE "Images/mui_menu_16x16.ico"
102						ICON      DISCARDABLE "Images/mui_talk_16x16.ico"
