#define IDD_SOMEOTHERDLG 2000
#define IDC_SOMEOTHERCAPTIONBAR 2001
IDD_SOMEOTHERDLG DIALOGEX 6,6,200,139
FONT 8,"Segoe UI",400,0
STYLE 0x82000000
EXSTYLE 0x00000000
BEGIN
  CONTROL "Some Other Dialog",IDC_SOMEOTHERCAPTIONBAR,"ModernUI_CaptionBar",0x52000000,0,0,200,19,0x00000000
END
