#include "Res/Panel4Dlg.rc"
#include "Res/Panel3Dlg.rc"
#include "Res/Panel2Dlg.rc"
#include "Res/Panel1Dlg.rc"
#include "Res/MUIExample1Ver.rc"
#include "Res/MUIExample1Dlg.rc"
#include "Res/MUIExample1Res.rc"
