#define IDD_DIALOG 1000
#define IDC_CAPTIONBAR 1001
IDD_DIALOG DIALOGEX 6,6,200,123
FONT 8,"Segoe UI",400,0
CLASS "DLGCLASS"
STYLE 0x92000800
EXSTYLE 0x00000000
BEGIN
  CONTROL "MUICaptionBar Example #2",IDC_CAPTIONBAR,"ModernUI_CaptionBar",0x52000000,0,0,200,19,0x00000000
END
