#define MANIFEST 						24
1						MANIFEST  DISCARDABLE "MUISpinner1.xml"
100						ICON      DISCARDABLE "Images/ModernUI.ico"
201						BITMAP    DISCARDABLE "Images/squares-circle-grey 1.bmp"
202						BITMAP    DISCARDABLE "Images/squares-circle-grey 2.bmp"
203						BITMAP    DISCARDABLE "Images/squares-circle-grey 3.bmp"
204						BITMAP    DISCARDABLE "Images/squares-circle-grey 4.bmp"
205						BITMAP    DISCARDABLE "Images/squares-circle-grey 5.bmp"
206						BITMAP    DISCARDABLE "Images/squares-circle-grey 6.bmp"
207						BITMAP    DISCARDABLE "Images/squares-circle-grey 7.bmp"
208						BITMAP    DISCARDABLE "Images/squares-circle-grey 8.bmp"
300						BITMAP    DISCARDABLE "Images/771.bmp"
402						RCDATA    DISCARDABLE "Images/35.png"
403						RCDATA    DISCARDABLE "Images/6.png"
404						RCDATA    DISCARDABLE "Images/3Green64x64.png"
405						RCDATA    DISCARDABLE "Images/771.png"
406						RCDATA    DISCARDABLE "Images/156bluex64x64.png"
407						RCDATA    DISCARDABLE "Images/Gear64x64.png"
408						RCDATA    DISCARDABLE "Images/74448x48.png"
501						RCDATA    DISCARDABLE "Images/832/832 01.png"
502						RCDATA    DISCARDABLE "Images/832/832 02.png"
503						RCDATA    DISCARDABLE "Images/832/832 03.png"
504						RCDATA    DISCARDABLE "Images/832/832 04.png"
505						RCDATA    DISCARDABLE "Images/832/832 05.png"
506						RCDATA    DISCARDABLE "Images/832/832 06.png"
507						RCDATA    DISCARDABLE "Images/832/832 07.png"
508						RCDATA    DISCARDABLE "Images/832/832 08.png"
509						RCDATA    DISCARDABLE "Images/832/832 09.png"
510						RCDATA    DISCARDABLE "Images/832/832 10.png"
511						RCDATA    DISCARDABLE "Images/832/832 11.png"
512						RCDATA    DISCARDABLE "Images/832/832 12.png"
513						RCDATA    DISCARDABLE "Images/832/832 13.png"
514						RCDATA    DISCARDABLE "Images/832/832 14.png"
515						RCDATA    DISCARDABLE "Images/832/832 15.png"
516						RCDATA    DISCARDABLE "Images/832/832 16.png"
517						RCDATA    DISCARDABLE "Images/832/832 17.png"
518						RCDATA    DISCARDABLE "Images/832/832 18.png"
519						RCDATA    DISCARDABLE "Images/832/832 19.png"
520						RCDATA    DISCARDABLE "Images/832/832 20.png"
521						RCDATA    DISCARDABLE "Images/832/832 21.png"
522						RCDATA    DISCARDABLE "Images/832/832 22.png"
523						RCDATA    DISCARDABLE "Images/832/832 23.png"
524						RCDATA    DISCARDABLE "Images/832/832 24.png"
600						BITMAP    DISCARDABLE "Images/832/832grey.bmp"
601						RCDATA    DISCARDABLE "Images/832/832trans.png"
602						RCDATA    DISCARDABLE "Images/379strip.png"
603						RCDATA    DISCARDABLE "Images/320stripgreen.png"
409						RCDATA    DISCARDABLE "Images/Gear32x32.png"
